@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-login {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 25px;
}
.btn-login i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-login:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

.btn-learn-more {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 25px;
}
.btn-learn-more i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-learn-more:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-team {
  background-color: #F9D783;
  border: 1px solid #191919;
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 25px;
}
.btn-team i {
  margin-left: 17px;
  margin-right: 5px;
  font-size: 0.9em;
}
.btn-team:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F9D783;
}

.btn-articles {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 25px;
}
.btn-articles i {
  margin-left: 17px;
  margin-right: 5px;
  font-size: 0.9em;
}
.btn-articles:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
}

.btn-mini {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 3px 10px;
  font-weight: 400;
  font-size: 25px;
  border-radius: 25px;
}
.btn-mini i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-mini:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

.btn-mini-white {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #191919;
  text-decoration: none;
  padding: 3px 10px;
  font-weight: 400;
  font-size: 25px;
  border-radius: 25px;
}
.btn-mini-white i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-mini-white:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F9D783;
}

.btn-services {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 13px 35px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 25px;
}
.btn-services i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-services:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.section-title {
  padding-top: 50px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 100px;
    padding-bottom: 60px;
  }
}
.section-title p {
  margin-bottom: 10px;
  color: #F94D1C;
}
.section-title h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #191919;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-content {
  padding-right: 20px;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu-bars:hover {
  color: lightgray;
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #DAD9D3;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
  color: #666666;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  margin-left: 10px;
  font-size: 1.2rem;
}
header .container .menu .top-menu .social-media a:hover {
  color: lightgray;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 700;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 700;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase .backround-lines {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    display: inline-block;
    margin-right: 10px;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.companies .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.companies a {
  margin: 60px 30px;
}
.companies a img {
  max-width: 210px;
  min-width: 115px;
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .companies a {
    display: none;
  }
}

.our-services {
  background-color: #F0EFE9;
  min-height: 800px;
}
.our-services .container {
  position: relative;
}
.our-services .container p {
  color: red;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding-top: 90px;
  padding-bottom: 5px;
}
.our-services .container h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  max-width: 500px;
  padding-bottom: 20px;
}
.our-services .container .content-flex {
  display: flex;
  padding-bottom: 45px;
}
.our-services .container .content-flex .service-box {
  background-color: #FFFFFF;
  margin-right: 25px;
  padding-bottom: 80px;
  position: relative;
}
.our-services .container .content-flex .service-box p {
  font-family: "Inter", sans-serif;
  color: #191919;
  font-size: 15px;
  font-weight: 400;
  margin-left: 18px;
  margin-bottom: 25px;
  margin-top: -70px;
  margin-right: 18px;
}
.our-services .container .content-flex .service-box h4 {
  margin-left: 18px;
  margin-bottom: -80px;
  font-weight: 600;
}
.our-services .container .content-flex .service-box a {
  position: absolute;
  right: 30px;
  bottom: 45px;
}
.our-services .container .content-flex .service-box-yellow {
  background-color: #F9D783;
  margin-right: 25px;
  position: relative;
}
.our-services .container .content-flex .service-box-yellow p {
  font-family: "Inter", sans-serif;
  color: #191919;
  font-size: 15px;
  font-weight: 400;
  margin-left: 18px;
  margin-bottom: 25px;
  margin-top: -70px;
  margin-right: 18px;
}
.our-services .container .content-flex .service-box-yellow h4 {
  margin-left: 18px;
  margin-bottom: -80px;
  font-weight: 600;
}
.our-services .container .content-flex .service-box-yellow a {
  position: absolute;
  right: 30px;
  bottom: 45px;
}
.our-services .container .center-content a {
  margin-bottom: 40px;
}
.our-services .container .line-position {
  position: relative;
}
.our-services .container .line-position .background-lines {
  position: absolute;
  right: -300px;
  bottom: -105px;
}

.PAC-section .container .section-title {
  text-align: center;
}
.PAC-section .container .projects-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .PAC-section .container .projects-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.PAC-section .container .projects-and-cases .project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
}
.PAC-section .container .projects-and-cases .project img {
  width: 100%;
  height: auto;
}
.PAC-section .container .projects-and-cases .project h3 {
  font-family: "DM", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.PAC-section .container .projects-and-cases .project .readmore {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
}
.PAC-section .container .projects-and-cases .project .readmore i {
  margin-left: 3px;
}
.PAC-section .container .projects-and-cases .project:hover .readmore {
  text-decoration: underline;
}
.PAC-section .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.meet-our-team {
  background-color: #F9D783;
}
.meet-our-team .container {
  position: relative;
}
.meet-our-team .container .content-box {
  background-color: #F9D783;
  padding-bottom: 70px;
}
.meet-our-team .container .content-box p {
  color: red;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding-top: 90px;
  padding-bottom: 20px;
}
.meet-our-team .container .content-box h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
.meet-our-team .container .end-content {
  position: absolute;
  right: 0;
  top: 155px;
}
.meet-our-team .container .content-flex {
  display: flex;
}
.meet-our-team .container .content-flex .information-box {
  padding-right: 20px;
}
.meet-our-team .container .content-flex .information-box img {
  padding-bottom: 30px;
}
.meet-our-team .container .content-flex .information-box h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.meet-our-team .container .content-flex .information-box p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.meet-our-team .center-content {
  padding-top: 45px;
  padding-bottom: 65px;
}

.article-and-news .container {
  position: relative;
}
.article-and-news .container .content-box p {
  color: red;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding-top: 120px;
  padding-bottom: 8px;
}
.article-and-news .container .content-box h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  padding-bottom: 18px;
}
.article-and-news .container .end-content {
  position: absolute;
  right: 0px;
  top: 186px;
}
.article-and-news .container .content-flex {
  display: flex;
}
.article-and-news .container .content-flex .information-box {
  padding-right: 25px;
  text-decoration: none;
  color: #191919;
}
.article-and-news .container .content-flex .information-box img {
  padding-bottom: 27px;
}
.article-and-news .container .content-flex .information-box p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
}
.article-and-news .container .content-flex .information-box h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 34px;
  padding-bottom: 10px;
}
.article-and-news .container .content-flex .information-box p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 60px;
}
.article-and-news .center-content {
  padding-bottom: 75px;
}

.newsletter {
  background-color: #F0EFE9;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.newsletter .background-wavy-lines {
  position: absolute;
  bottom: 30px;
  right: 0;
}
.newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.newsletter .container form input {
  color: #191919;
  text-decoration: none;
  font-size: 16px;
  padding: 11px 30px;
  border-radius: 25px;
  outline: none;
  border: 1px solid rgba(25, 25, 25, 0.1);
  margin-right: 10px;
}