@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

header {
    background-color: #F0EFE9;
    padding: 16px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;
       
        .menu-bars {
            border: none;
            font-size: 25px;
            background-color: transparent;

            @media (min-width: 992px) {
                display: none;
            } 
            
            &:hover {
                color: lightgray;
            }
        }
        
        .menu {
            display: none;
            flex: 1;
        
            @media (min-width: 992px) {
                display: block;
            }

            .top-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 10px;
                border-bottom: 1px solid #DAD9D3;

                .contact-information {
                    display: flex;
                    align-items: center;

                    .content-box {
                        padding-right: 30px;
                        margin-right: 30px;
                        border-right: 1px solid #DAD9D3;
                        font-family: 'Inter', sans-serif;
                        font-size: 15px;
                        font-weight: 300;

                        i {
                            margin-right: 5px;
                            font-size: 1.2em;
                            color: #666666;
                        }

                        &.last {
                            border: none;
                        }
                    }    
                }
                .social-media {
                    a {
                        color: #191919;
                        margin-left: 10px;
                        font-size: 1.1rem;

                        &:hover {
                            color: lightgray
                        }
                    }
                }
            }

            .main-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;

                nav {
                    a {
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 35px;
                        postition: relative;

                        &.active {
                            font-weight: 700;
                        }

                        &.active::after,
                        &:hover::after {
                            content: '';
                            position: absolute;
                            font-weight: 700;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }
                    }
                }
            }

        }    
    }
}            